<h2>Courses list</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Course id</th>
            <th>Course name</th>
            <th>Course code</th>
            <th>Join course</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of courses" >
            <td> {{course.id}} </td>
            <td> {{course.courseName}} </td>
            <td> {{course.courseCode}} </td>
            <td>
                <button (click)="joinCourse(course.id)" class = "btn btn-info">Join course</button>
            </td>
        </tr>

    </tbody>

</table>