<body>
    <div id="viewport" >
        <!-- Sidebar -->
        <div id="sidebar">
          <header>
            <a href="#">Actions</a>
          </header>
          <ul class="nav">
            <li>
              <a (click)="goToCourseList()">
                <i class="zmdi zmdi-link"></i> List of courses
              </a>
            </li>
            <li>
              <a (click)="goToStudentList()">
                <i class="zmdi zmdi-widgets"></i> View all students
              </a>
            </li>
          </ul>
        </div>
        <!-- Content -->
        <div id="content">
          <nav class="navbar navbar-default">
            <div class="container-fluid">
            </div>
          </nav>
          <div class="container-fluid">
            <h1 style="text-align: center;">Home Page</h1>
            <p style="text-align: center;">
                Welcome to the home page.
            </p>
          </div>
        </div>
      </div>
    </body>
    